bug
dumpi.conf
mpi-examples/
out/
rma-acc-multi
.graph500test.swo
.graph500test.swp
README.md.backup
__pycache__/
calls.txt
convert_trace_to_timeseries.py
countingWindows.txt
deprecated_defs.py
doc/pydumpi.md.backup
doc/timing.md.backup
double-rma-0000.txt
double-rma-0001.txt
dumpi-0000.bin
dumpi-0001.bin
dumpi.meta
dumpi_rma_summary.py
dumpi_rma_summary_fsm.py
dumpi_sum.py
dumpifile.py
epochs.txt
fences.txt
flatarraytest1.npz
flatarraytest2.npz
flatarraytest3.npz
flatarraytest4.npz
footer_for_comparison.txt
graph500test
in_mem_profiler.py
memtesting/
mprofile_20230324200538.dat
mypydumpi/
opdata.avsc
per_rank.txt
per_window.txt
prev/
profileRMA.py
profiler_lib.py
profilerout
profiletrace.py
pydumpi_test.py
rma_profiler.py
rmacalls.conf
stats-bin0-0.tbl
summary.txt
trace_sample
win_duration
win_lifetime
*.avro